<div class="host" tabindex="-1" ng-click="eventHandlers.host.click()" ti-transclude-append>
  <div class="tags" ng-class="{focused: hasFocus}">
    <ul class="tag-list">
      <li class="tag-item"
          ng-repeat="tag in tagList.items track by track(tag)"
          ng-class="{ selected: tag == tagList.selected }"
          ng-click="eventHandlers.tag.click(tag)">
        <ti-tag-item data="::tag"></ti-tag-item>
      </li>
    </ul>
    <input class="input"
           autocomplete="off"
           autofocus
           ng-model="newTag.text"
           ng-model-options="{getterSetter: true}"
           ng-keydown="eventHandlers.input.keydown($event)"
           ng-focus="eventHandlers.input.focus($event)"
           ng-blur="eventHandlers.input.blur($event)"
           ng-paste="eventHandlers.input.paste($event)"
           ng-trim="false"
           ng-class="{'invalid-tag': newTag.invalid}"
           ng-disabled="disabled"
           ti-bind-attrs="{type: options.type, placeholder: options.placeholder, tabindex: options.tabindex, spellcheck: options.spellcheck}"
           ti-autosize>
  </div>
</div>